[submodule "lib/pubsubclient"]
	path = lib/pubsubclient
	url = https://github.com/knolleary/pubsubclient.git
[submodule "lib/NtpClient"]
	path = lib/NtpClient
	url = https://github.com/gmag11/NtpClient.git
[submodule "lib/Time"]
	path = lib/Time
	url = https://github.com/PaulStoffregen/Time.git
[submodule "lib/RemoteDebug"]
	path = lib/RemoteDebug
	url = https://github.com/JoaoLopesF/ESP8266-RemoteDebug-Telnet.git
[submodule "lib/Adafruit_NeoPixel"]
	path = lib/Adafruit_NeoPixel
	url = https://github.com/adafruit/Adafruit_NeoPixel.git
